@import './common.styl'
@import './animate.css' 

*{margin: 0; padding: 0;}
html,body {height: 100%;}
body {font-family: "microsoft yahei";}

.swiper-container {
    width: 100%;
    height: 100%;
    background: #fff;
}
.swiper-slide {
    width: 100%;
    height: 100%;
    background: url('../festival/bg.jpg') no-repeat left top;
    background-size: 100% 100%;
}
img {
    display: block;
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #fff;
    opacity: .4;
}
.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-slide img {
    position: absolute;
    opacity: 0;        /*动画的初始状态,都隐藏起来*/
}
/*第一屏*/
.page1 .flower {  /*花*/
    left: 0;
    top: 0;
    whRem(400,460)
    z-index: 2
}
.page1 .s1 {
    whRem(640,467)
    left:0px;
    top:p2r(300);
    z-index:1;
}
.page1 .s1-t1 {
    whRem(127,249)
    right:p2r(100);
    top:p2r(410);
    z-index:3;
}
.page1 .s1-t2 {
    whRem(208,234)
    left:p2r(100);
    top:p2r(410);
    z-index:3;
}

/*第二屏*/
.page2 .s2-i1 {
    whRem(80,443)
    right: p2r(54);
    top: p2r(70);
    z-index: 1;
}
.page2 .s2-i2 {
    whRem(120,485)
    right: p2r(40);
    top: p2r(56);
    z-index: 2;
}
.page2 .s2-i3 {
    whRem(420,420)
    left: p2r(50);
    top: p2r(80);
    z-index: 2;
}
.page2 .s2-i4 {
    whRem(390,370)
    left: p2r(70);
    top: p2r(100);
    z-index: 3;
}
.page2 .s2-i5 {
    whRem(563,375)
    left: 50%;
    margin-left: p2r(-281.5)
    bottom: p2r(110);
    z-index: 3;
    border-radius: p2r(30)
}

/*第三屏*/
.page3 .s3-i1 {
    whRem(80,443)
    right: p2r(54);
    top: p2r(70);
    z-index: 1;
}
.page3 .s3-i2 {
    whRem(120,485)
    right: p2r(40);
    top: p2r(56);
    z-index: 2;
}
.page3 .s3-i3 {
    whRem(420,420)
    left: p2r(50);
    top: p2r(80);
    z-index: 2;
}
.page3 .s3-i4 {
    whRem(390,370)
    left: p2r(70);
    top: p2r(100);
    z-index: 3;
}
.page3 .s3-i5 {
    whRem(563,375)
    left: 50%;
    margin-left: p2r(-281.5)
    bottom: p2r(110);
    z-index: 3;
    border-radius: p2r(30)
}

/*第四屏*/
.page4 .flower {  /*花*/
    left: 0;
    top: 0;
    whRem(400,460)
    z-index: 2
}
.page4 .s1 {
    whRem(640,467)
    left:0px;
    top:p2r(300);
    z-index:1;
}
.page4 .poem {
    position: absolute;
    whRem(400,249)
    left:p2r(200);
    top:p2r(390);
    z-index:3;
    opacity: 0;     /*动画的初始状态,隐藏起来*/
    p {
        width:15px;
        color:#b60927; 
        display:inline-block; 
        font-size:p2r(32); 
        line-height:p2r(36); 
        margin-right:15px;
    }
}
.page4 .fes-tit {
    position: absolute;
    whRem(40,234)
    right:p2r(100);
    top:p2r(400);
    color:#b60927;
    font-size:p2r(60);
    line-height: p2r(90);
    font-weight: bold;
    z-index:3;
    opacity: 0;     /*动画的初始状态,隐藏起来*/
}

/*底部的动画箭头*/
@keyframes tipmove{
    0%{bottom:10px;opacity:0}
    50%{bottom:15px;opacity:1}
    100%{bottom:20px;opacity:0}
}
.ani-arrow {
    width:20px;
    height:15px;
    left: 50%;
    margin-left: -10px;
    bottom: 15px;
    position:absolute;
    z-index:999; 
    animation: tipmove 1.5s infinite ease-in-out;
}


/*第一屏动画*/
.page1.animate {
    // img {
    //     opacity: 0;  /* 动画开始之前都隐藏不显示 */
    // }
    .flower {  /* 花 */    
        animation: fadeInLeft .5s ease forwards
    }
    .s1 {
        animation: fadeIn .5s .5s forwards
    }
    .s1-t1 {
        animation: bounceIn .5s 1s forwards
    }
    .s1-t2 {
        animation: fadeIn .5s 1.5s forwards
    }
} 

/*第二屏动画*/
.page2.animate {
    .s2-i1 {
        animation: fadeInDown .5s forwards
    }
    .s2-i2 {
        animation: fadeInUp .5s .5s forwards
    }
    .s2-i3 {
        animation: fadeInLeft .5s 1s forwards
    }
    .s2-i4 {
        animation: fadeInRight .5s 1.5s forwards
    }
    .s2-i5 {
        animation: fadeInLeft .5s 2s forwards
    }
} 
/*第三屏动画*/
.page3.animate {
    .s3-i1 {
        animation: fadeInDown .5s forwards
    }
    .s3-i2 {
        animation: fadeInUp .5s .5s forwards
    }
    .s3-i3 {
        animation: fadeInLeft .5s 1s forwards
    }
    .s3-i4 {
        animation: fadeInRight .5s 1.5s forwards
    }
    .s3-i5 {
        animation: fadeInLeft .5s 2s forwards
    }
}

/*第四屏动画*/
.page4.animate {
    .flower {  /* 花 */    
        animation: fadeInLeft .5s ease forwards
    }
    .s1 {
        animation: fadeIn .5s .5s forwards
    }
    .poem {
        animation: fadeInLeft .5s 1s forwards
    }
    .fes-tit {
        animation: fadeInRight .5s 1s forwards
    }
} 