* {margin: 0; padding: 0; box-sizing: border-box;}
html,body { height: 100%; position: relative;}
html { overflow: hidden;}

li { list-style: none;}
body {
	background:#fff;
	font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size:12px;
}
.img img {
	width:100%;
	display:block;
}

#top {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    background: #fff;
}

#top .addr {
    height: 36px;
    margin: 0 auto;
    display: block;
}
#top .search {
	position:absolute;
	top:0;
	right:0;
	height:36px;
	display:block;
}

#nav {
    border-bottom: 1px solid #ebebe;
}
#nav .swiper-slide span {
    margin: 0 5px;
    text-align: center;
    display: block;
    line-height: 2.5;
    font-size: 14px;
    color: #333;
}
#nav .bar {
	width:50px;
	height:3px;
	position:absolute;
	bottom:0px;
}
#nav .bar .color {
	width:36px;
	margin:0 auto;
	height:3px;
	background:#ff4891;
}

#footer {
	position:fixed;
	bottom:0;
	z-index:5;
}