* {
	margin:0;
	padding:0;
}

header {
    position:absolute;
	left:0;
	top:0;
	z-index:999;
    width: 100%;
    height:43px;
	overflow:hidden;
	background:#fdfdfc;
	font:12px/40px hiragino sans gb,microsoft yahei,simsun;
	box-shadow:3px 3px 3px rgba(0,0,0,0.2);
}
header .swiper-slide {
	display: inline-block;
	padding:0 20px;
	width:auto;
	flex: 0 0 auto;
}


.focus .swiper-slide img {
	max-width: 100%;
}